@use '../styles/mixins';

.grid-template {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  @include mixins.x-small {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mixins.medium {
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
  @include mixins.large {
    grid-template-columns: repeat(5, 1fr);
  }
}
