@use '../../../styles/index';
@use '../../../styles/mixins';

.heading {
  color: index.$white-color;
  font-size: index.$font-lg;
  text-shadow: index.$text-shadow;
  font-weight: 400;

  @include mixins.small {
    font-size: index.$font-xlg;
  }
}
