* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  font-size: 10px;
}

noscript {
  display: block;
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
