* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  font-size: 10px;
}

noscript {
  width: 100%;
  text-align: center;
  display: block;
  margin: 30px 0;
}

body {
  background-image: linear-gradient(to top, #c49ba4, #c1a1b7, #b7a9c8, #a8b2d3, #99bcd8);
  background-attachment: fixed;
}

input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
