@use '../../../styles/index';

.input {
  padding: 10px;
  color: index.$dark-blue-color;

  &::placeholder {
    color: index.$light-grey-color;
  }

  &:focus {
    box-shadow: 0 0 2px 2px index.$dark-blue-color;
    outline-style: none;
  }
}
