@use '../styles/index';
@use '../styles/mixins';

.content {
  max-width: index.$content-max-width;
  margin: 20px 10px 0px 10px;

  .search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-size: index.$font-lg;

    &__input-wrapper {
      position: relative;

      input {
        min-width: 300px;
        padding-left: 40px;
      }

      svg {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%) scale(0.8);
        fill: index.$light-grey-color;
      }
    }

    p {
      margin: 15px 0px 0px 0px;
      color: index.$white-color;
      font-weight: 400;
      text-shadow: index.$text-shadow;
    }
  }

  @include mixins.small {
    margin: 20px 20px 0px 20px;

    .search {
      flex-direction: row;

      p {
        margin: 0px 0px 0px 15px;
      }
    }
  }

  @include mixins.large {
    margin: 20px auto 0px auto;
  }
}
