@use '../../../styles/index';

.caption {
  color: index.$dark-blue-color;

  &__big {
    font-size: index.$font-lg;
    font-weight: 400;
  }

  &__small {
    font-size: index.$font-sm;
    font-weight: 300;
  }
}
