@use './styles/index';

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #c49ba4, #c1a1b7, #b7a9c8, #a8b2d3, #99bcd8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.glass {
  background: index.$background;
  box-shadow: index.$box-shadow;
  border: index.$border;
  border-radius: index.$border-radius;
}

@keyframes loading-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: block;
  width: 80px;
  height: 80px;
  margin: 50px auto 50px auto;
  opacity: 0.5;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 8px solid index.$white-color;
  border-color: index.$white-color transparent index.$white-color transparent;
  animation: loading-anim 1s linear infinite;
}
